body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-image: url(./fundo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-left: 15%;
    margin-right: 15%;
}

.sugestao1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
}

.sugestao{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}

footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}